<%= simple_form_for :cake, url: cakes_path(@cake_params), method: :post do |f| %>
<div class="form-inner-wrapper container">
  <div class="form-scroll row row-height">
    <div class="col-md-9" style = "max-height: 100%;">
      <div class="row filters padded-1-bottom">
        <div class="col-sm-1 col-xs-6">
          <div class="navbar-ac-link category-title" id='all'>Tudo</div>
        </div>
        <% @categories.each do |category| %>
          <div class="col-sm-2 col-xs-6">
            <div class="navbar-ac-link category-title" id=<%= category.name.parameterize.underscore%> ><%= category.name %>
            </div>
          </div>
        <% end %>
      </div>
      <div id = "decoration-wrapper" class = "row-height" style = "max-height: 600px; overflow: scroll; padding-top: 20px;">

        <% @decorations.each do |decoration| %>

        <div class="col-md-4 card all <%= decoration.categories.map{ |c| c.name.parameterize.underscore }.join(" ") %> ">
          <div class= "img-decoration-wrapper" >
            <%= cl_image_tag decoration.photo %>
            <div class="flexbox-between" style = "margin-bottom: 1.1em;">
                <%= decoration.name %>
                <%= f.radio_button :decoration, decoration.id, id: "cake_decoration_#{decoration.id}", class: 'radio-button option-input radio'%>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-9"><p style = "margin-bottom: 1.1em;"> + <span id= "decoration_price_<%= decoration.id %>" class = "price"><%= decoration.price %></span> €/Kg</p></div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <p style = "margin-bottom: 1.1em;">A partir de <span id= "decoration_quant_<%= decoration.id %>"><%= decoration.minimum_size %></span> kg</p>
              </div>

            </div>
          </div>
        </div>

        <% end %>

      </div>
    </div>
    <div class="col-md-3">

      <p class = "navbar-ac-link">Peso</p>
      <%= f.input :size, collection: Cake::SIZES, label: false, prompt: "Kg" %>

      <p class = "navbar-ac-link">Mensagem</p>
      <%= f.input :message, as: :text, input_html: {placeholder: "Texto para bolo"}, label: false %>

      <p class = "navbar-ac-link">Idade</p>
      <%= f.input :age, input_html: {placeholder: "Idade para as velas"}, label: false %>
    </div>
  </div>
  <%= f.input :dough, as: :hidden, input_html: {value: @dough.id}%>
  <span id = "dough_price" class = "hidden"><%= @dough.price %></span>
  <%= f.input :filling, as: :hidden, input_html: {value: @filling.id}%>
  <%= f.submit "Proximo passo", class: "btn btn-lg btn-default", id: "step2"%>
</div>
<% end %>
