<%= simple_form_for :cake, url: decorations_cakes_path, method: :get do |f| %>
<div class="row">
    <h1 id = "step-title" style = "font-size: 30px; padding-left: 15px;">Escolha a massa e o recheio do bolo</h1>

</div>
<div class="row row-height" style = "width: 100%">
  <% @doughs.each do |dough| %>
  <div class="col-md-4 doughs" id = "div_<%= dough.id %>">
    <div class = "img-dough-wrapper" >
      <div class="row">
        <%= image_tag("hummingbird-bakery-UK-566EDF.jpg") %>
      </div>
      <div class="row dough-label" id = "dough_i_<%= dough.id %>" style = "max-width: 100%">
        <p><%= dough.name %></p>
      </div>
    </div>
    <div class="dough-radio radio-hide">
      <%= f.radio_button :dough, dough.id, input_html: {class: "radio-button"}%>
    </div>
    <div class="row fillings" style = "padding-top: 40px">
      <% dough.fillings.each do |filling| %>
      <div class="row" style = "padding-bottom: 20px;">
        <div class="col-md-2" id = "fil_dough_<%= dough.id %>">
          <i class="fa fa-circle-o i-filling" id = "i_<%= filling.id %>" aria-hidden="true"></i>
        </div>
        <div class="col-md-10">
          <%= filling.name %>
        </div>
        <div class = "filling-radio radio-hide">
          <%= f.radio_button :filling, filling.id, input_html: {class: "radio-button"}%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <%= f.submit "Próximo passo", class: "btn cta-btn cta-btn-blue cta-btn-small", id: "step1" %>
</div>
<% end %>
