<%= simple_form_for @cake do |f| %>
  <% @doughs.each do |dough| %>
  <div class="row">
    <%= image_tag("#{dough.name}.svg") %>
    <%= f.radio_button :dough, dough.id %>
    <%= dough.name %>
    </div>
  <% end %>

  <%= f.submit "Go", class: "btn btn-lg btn-primary"%>
<% end %>
