<%= simple_form_for :cake, url: decorations_cakes_path, method: :get do |f| %>
<div class="form-inner-wrapper container">
  <div class="form-scroll row row-height">
   <% @doughs.each do |dough| %>
   <div class="col-md-4 doughs card" id = "div_<%= dough.id %>">
    <div class = "img-dough-wrapper" >
      <div class="row flexbox">
        <%= cl_image_tag dough.photo %>
      </div>
      <div class="row dough-label" id = "dough_i_<%= dough.id %>" style = "max-width: 100%">
        <p><%= dough.name %></p>
      </div>
    </div>
    <hr>
    <div class="dough-radio radio-hide">
      <%= f.radio_button :dough, dough.id, input_html: { class: "radio-button"}%>
    </div>
    <div class="row fillings" style = "padding-top: 40px">
      <% dough.fillings.each do |filling| %>
      <div style = "padding-bottom: 1.1em; display: flex; justify-content: space-between; align-items: center">
          <%= filling.name %>
        <div id = "fil_dough_<%= dough.id %>" style = "margin-left: 10px;">
          <div class="radio option-input i-filling" id = "i_<%= filling.id %>"></div>
        </div>
        <div class="radio-hide">
          <%= f.radio_button :filling, filling.id, id: "cake_filling_#{filling.id}", class: 'radio-button'%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
</div>

<div class="row">
  <%= f.submit "Próximo passo", class: "btn cta-btn cta-btn-blue cta-btn-small", id: "step1" %>
</div>
<% end %>
