<div class="banner-doughs" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container">
    <div id="progresstracker">
      <ul>
        <li id = "wiz-1" class = "complete" ><span>1</span></li>
        <li id = "wiz-2" class = "active complete" ><span>2</span></li>
        <li id = "wiz-3" ><span>3</span></li>
        <li id = "wiz-4"><span>4</span></li>
      </ul>
    </div>
    <div class="form-wrapper">
      <div class="form-inner-wrapper">
        <div class="form-scroll">
         <div class="row row-height" id = "dynamic-content" style = "max-height: 100%">
          <%= render "decoration" %>
        </div>
      </div>
    </div>

    <div id="pre-down-nav">
      <div class = "pre-down-nav-btn"></div>
      <div class = "pre-down-nav-btn"></div>
      <div class = "pre-down-nav-btn" id = "cart-total">
        <p>Total</p>
      </div>
    </div>
    <div id = "down-nav">
         <div class = "down-nav-btn"><%= image_tag("tail-left.svg") %></div>
        <div class = "down-nav-btn" id="submit-btn"><%= image_tag("tail-right.svg") %></div>
      <div class = "down-nav-cart">
        <p id = "cart"></p>
      </div>
    </div>
  </div>
  <%= link_to design_path, class: "navbar-ac-link" do %>
  Não encontra o que quer?
  <% end %>
</div>
</div>
</div>


<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <img src="" class="enlargeImageModalSource" style="width: 100%;">
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#step2").attr('class', 'hidden'); //hide submit button
    $(".radio-hide").attr('class', 'hidden'); //hide radio buttons
    $("#submit-btn").removeClass("hidden");
    //Add dough price to cart
    $("#cart").append("<%= @dough.price_cents%>€/Kg");
    //Enlarge images
    $(function() {
      $('img').on('click', function() {
        $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
        $('#enlargeImageModal').modal('show');
      });
    });


    $('.dough-label').click(function(){
      //Get decoration id
      var decorId =  $(this).attr('id');
      var split = decorId.split("decor_i_");
      var decorIdNum = Number(split[1]);
      //Select corresponding input
      $("#cake_decoration_" + decorIdNum).prop("checked", true);
      //When choosing decoration, remove color and selection from all the other decorations
      $(this).addClass("label-color");
      $('.dough-label').not(this).removeClass("label-color");
    })
    $("#submit-btn").click(function(e){
    //   if (($("*[id*=cake_decoration_]").is(":checked") == true) && ($("*[id*=cake_filling_]").is(":checked") == true)) {
     $("#step2").click();
    // }
  })
  })
</script>
<% end %>
