<div class="form-page" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container">
    <h1 id = "step-title">Decoração e Peso</h1>
    <div id="progresstracker">
      <ul>
        <li id = "wiz-1" class = "complete" ><span>1</span></li>
        <li id = "wiz-2" class = "active complete" ><span>2</span></li>
        <li id = "wiz-3" ><span>3</span></li>
        <li id = "wiz-4"><span>4</span></li>
        <li id = "wiz-5"><span>5</span></li>
      </ul>
    </div>
    <div class="form-wrapper">
      <%= render "decoration" %>

      <div id = "down-nav">
        <div class = "down-nav-btn">
          <%= link_to session[:back_link], class: "navbar-ac-link" do %>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
            <g class="nc-icon-wrapper">
              <path id = "path1-l" fill="#72C472" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
              </path>
              <path id = "path2-l" fill="#FFFFFF" d="M23,16c0-0.37598-0.21094-0.72021-0.54639-0.89111c-0.33496-0.16992-0.73682-0.13867-1.04199,0.08252l-11,8 C10.15332,23.37939,10,23.68018,10,24s0.15332,0.62061,0.41162,0.80859l11,8C21.58594,32.93555,21.79248,33,22,33 c0.15479,0,0.31055-0.03613,0.45361-0.10889C22.78906,32.72021,23,32.37598,23,32v-6h13c0.55228,0,1-0.44772,1-1v-2 c0-0.55228-0.44772-1-1-1H23V16z">
              </path>
            </g>
          </svg>
          <% end %>
        </div>
        <div class = "down-nav-btn" id="submit-btn">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
            <g class="nc-icon-wrapper">
              <path id = "path1-r" fill="#D4D4D4" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
              </path>
              <path id = "path2-r" fill="#FFFFFF" d="M37.58838,23.19141l-11-8c-0.30322-0.22119-0.70703-0.25244-1.04199-0.08252 C25.21094,15.27979,25,15.62402,25,16v6H12c-0.55229,0-1,0.44772-1,1v2c0,0.55228,0.44771,1,1,1h13v6 c0,0.37598,0.21094,0.72021,0.54639,0.89111C25.68945,32.96387,25.84521,33,26,33c0.20752,0,0.41406-0.06445,0.58838-0.19141l11-8 C37.84668,24.62061,38,24.31982,38,24S37.84668,23.37939,37.58838,23.19141z">
              </path>
            </g>
          </svg>
        </div>
        <div class = "down-nav-cart">
          <p> Total: <span id = "cart"></span></p>
        </div>
      </div>
    </div>
    <%= link_to design_path, class: "navbar-ac-link" do %>
    Não encontra o que quer?
    <% end %>
  </div>
</div>
</div>


<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <img src="" class="enlargeImageModalSource" style="width: 100%;">
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#step2").attr('class', 'hidden'); //hide submit button
    $(".radio-hide").attr('class', 'hidden'); //hide radio buttons
    $("#submit-btn").removeClass("hidden");
    //Add dough price to cart
    $("#cart").append("<%= @dough.price%>€/Kg");
    //Enlarge images
    $(function() {
      $('img').on('click', function() {
        $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
        $('#enlargeImageModal').modal('show');
      });
    });

    //In mobile, fix navbar to the bottom of the screen
    if ($(window).width() <= 400) {
      $('#down-nav').css({
        position: "fixed", bottom: "0", right: "0", left: "0"
      });
      var bottomOfForm = $(".form-wrapper").offset().top;
      $(window).scroll(function() {
        if($(window).scrollTop() > bottomOfForm) { //scrolled past the other div?
          $('#down-nav').css({
        position: "absolute"}) //reached the desired point -- show div
        } else {
          $('#down-nav').css({
            position: "fixed", bottom: "0", right: "0", left: "0"
          })
        }
      });
    };

    //When the user selects a decoration
    $("*[id*=cake_decoration_]").on('click', function(event){
      //Get decoration id
      var decorationId = $(this).attr('id');
      var splitDec = decorationId.split("cake_decoration_");
      var decorationIdNum = Number(splitDec[1]);
      var quantity = Number($("#decoration_quant_" + decorationIdNum).html());
      //Get decoration price
      var decorationPrice = Number($("#decoration_price_" + decorationIdNum).text());
      //Check if the size is already selected
      if ($("#cake_size").val() != "" && $("#cake_size").val() != null) {
        //If yes
        //Check if the selected quantity is compatible with current decoration
        if ($("#cake_size").val() < quantity) {
          event.preventDefault();
          $("#pre-down-nav").notify("Esta decoração não está disponível para a quantidade seleccionada");
        } else {
           //Multiply dough's price and decoration's price by quantity
           $("#cart").empty();
           $("#cart").html(((Number($("#dough_price").html()) + decorationPrice) * $("#cake_size").val()).toFixed(2) + "€");
          //Change button color
          $('#path1-r').css({ fill: "#72C472" });
        }
      } else {
        //Make some sizes unvailable
        $('option').filter(function() {
          return $(this).val() < quantity;
        }).prop('disabled', true);
      //Make the others available
      $('option').filter(function() {
        return $(this).val() >= quantity;
      }).prop('disabled', false);

      //Add price to cart
      $("#cart").empty();
      $("#cart").html((decorationPrice + Number($("#dough_price").html())).toFixed(2) + "€/Kg");
    }
    $("#cake_size").change(function(e) {
      var minQuant = $(this).val();
      //Multiply dough's price by quantity
      $("#cart").html(Number($("#dough_price").html()) * minQuant + "€");
      $("*[id*=decoration_quant_]").filter(function(){
        return $(this).html() >= minQuant
      }).each(function(index) {
        $(this).closest(".card").find("input").prop("disabled");
      });
    })
  });

    //When the user selects a size
    $("#cake_size").click(function(e) {

      //Verify if the decoration is already selected
      if (($("*[id*=cake_decoration_]").is(":checked") == true)) {
        //If yes
        //Get the selected decoration id
        var decorationId = $("*[id*=cake_decoration_]:checked").attr("id");
        var splitDec = decorationId.split("cake_decoration_");
        var decorationIdNum = Number(splitDec[1]);
        var decorationPrice = Number($("#decoration_price_" + decorationIdNum).text());
        //When changing the quantity
        $("#cake_size").change(function(e) {
         var minQuant = $(this).val();
         if (minQuant != "" && minQuant !=null) {
          $("*[id*=decoration_quant_]").filter(function(){
            return $(this).html() >= minQuant
          }).each(function(index) {
            $(this).closest(".card").find("input").prop("disabled");
          });
          $("#cart").html(((Number($("#dough_price").html()) + decorationPrice) * minQuant).toFixed(2) + "€");

        //Change button color
        $('#path1-r').css({ fill: "#72C472" });
      }
    })
        //Make some sizes unvailable
        $("input[name='cake[decoration]']:checked");
      } else {
     //All sizes are available
     $("#cake_size").change(function(e) {
      var minQuant = $(this).val();
      //Multiply dough's price by quantity
      $("#cart").html((Number($("#dough_price").html()) * minQuant).toFixed(2) + "€");
      $("*[id*=decoration_quant_]").filter(function(){
        return $(this).html() >= minQuant
      }).each(function(index) {
        $(this).closest(".card").find("input").prop("disabled");
      });
    })
   }
 })


    $("#submit-btn").click(function(e){
      if (($("*[id*=cake_decoration_]").is(":checked") == true) && ($("#cake_size").val() != "" && $("#cake_size").val() !=null))
      {
       $("#step2").click();
     } else {
      $(this).notify("Seleccione uma decoração e um tamanho");
    }
  })
  })

  //Categories
  $("#all").click(function(e){
    $(this).addClass("active-category");
    $("*[id*=category_]").removeClass("active-category");
    $(".all").hide();
    $(".all").show();
  });

  const categories = <%= raw @categories.map{ |category| category.name.parameterize.underscore } %>

  categories.forEach(function(category) {
    $("#" + category).click(function(e){
      $(this).addClass("active-category");
      $("*[id*=category_]").not(this).removeClass("active-category");
      $("#all").removeClass("active-category");
      $(".all").hide();
      $("." + category).show();
    });
  });


</script>
<% end %>
