
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Instruções</h4>
      </div>
      <div class="modal-body">
        <div class = "modal-content-wrapper flexbox">
          <%= image_tag("time-3.svg") %>
          <p>Qualquer encomenda deve ser feita com pelo menos 48h de antecedência.</p>
        </div>
        <div class = "modal-content-wrapper flexbox">
          <%= image_tag("round-euro.svg") %>
          <p>O pagamento é feito no acto da entrega. Pode pagar em numerário ou multibanco. Todos os preços incluiem IVA.</p>
        </div>
        <div class = "modal-content-wrapper flexbox">
          <%= image_tag("delivery.svg") %>
          <p>Pode escolher receber a encomenda numa morada específica ou levanta-la na loja.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

<section class="form-page" style = "padding-bottom: 100px; padding-top: 100px;">
  <div class="container">
    <h1 id = "step-title">Massa e Recheio</h1>
    <div id="progresstracker">
      <ul>
        <li id = "wiz-1" class = "active complete" ><span>1</span></li>
        <li id = "wiz-2" ><span>2</span></li>
        <li id = "wiz-3" ><span>3</span></li>
        <li id = "wiz-4"><span>4</span></li>
        <li id = "wiz-5"><span>5</span></li>
      </ul>
    </div>

    <div class="form-wrapper">
      <%= render 'dough' %>

      <div id = "down-nav">
        <div class = "down-nav-btn">
          <%= link_to session[:back_link], class: "navbar-ac-link" do %>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
            <g class="nc-icon-wrapper">
              <path id = "path1-l" fill="#72C472" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
              </path>
              <path id = "path2-l" fill="#FFFFFF" d="M23,16c0-0.37598-0.21094-0.72021-0.54639-0.89111c-0.33496-0.16992-0.73682-0.13867-1.04199,0.08252l-11,8 C10.15332,23.37939,10,23.68018,10,24s0.15332,0.62061,0.41162,0.80859l11,8C21.58594,32.93555,21.79248,33,22,33 c0.15479,0,0.31055-0.03613,0.45361-0.10889C22.78906,32.72021,23,32.37598,23,32v-6h13c0.55228,0,1-0.44772,1-1v-2 c0-0.55228-0.44772-1-1-1H23V16z">
              </path>
            </g>
          </svg>
          <% end %>
        </div>
        <div class = "down-nav-btn" id="submit-btn">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" xml:space="preserve" width="48" height="48">
            <g class="nc-icon-wrapper">
              <path id = "path1-r" fill="#D4D4D4" d="M24,1C11.31787,1,1,11.31787,1,24s10.31787,23,23,23s23-10.31787,23-23S36.68213,1,24,1z">
              </path>
              <path id = "path2-r" fill="#FFFFFF" d="M37.58838,23.19141l-11-8c-0.30322-0.22119-0.70703-0.25244-1.04199-0.08252 C25.21094,15.27979,25,15.62402,25,16v6H12c-0.55229,0-1,0.44772-1,1v2c0,0.55228,0.44771,1,1,1h13v6 c0,0.37598,0.21094,0.72021,0.54639,0.89111C25.68945,32.96387,25.84521,33,26,33c0.20752,0,0.41406-0.06445,0.58838-0.19141l11-8 C37.84668,24.62061,38,24.31982,38,24S37.84668,23.37939,37.58838,23.19141z">
              </path>
            </g>
          </svg>
        </div>
        <div class = "down-nav-cart">
          <p> Total: <span id = "cart"></span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $('#myModal').modal('toggle');
    $("#step1").attr('class', 'hidden'); //hide submit button
    $(".radio-hide").attr('class', 'hidden'); //hide radio buttons
    //In mobile, fix navbar to the bottom of the screen
    if ($(window).width() <= 400) {
      $('#down-nav').css({
        position: "fixed", bottom: "0", right: "0", left: "0"
      });
      var bottomOfForm = $(".form-wrapper").offset().top;
      $(window).scroll(function() {
        if($(window).scrollTop() > bottomOfForm) { //scrolled past the other div?
          $('#down-nav').css({
        position: "absolute"}) //reached the desired point -- show div
        } else {
          $('#down-nav').css({
            position: "fixed", bottom: "0", right: "0", left: "0"
          })
        }
      });
    };
    $('.i-filling').click(function(){
      //Get dough id
      var doughId =  $(this).parent().attr('id');
      var split = doughId.split("fil_dough_");
      var doughIdNum = Number(split[1]);
      //Get filling id
      var fillingId = $(this).attr('id');
      var splitFill = fillingId.split("i_");
      var fillingIdNum = Number(splitFill[1]);
      //Select filling
      $(this).addClass("option-input-checked option-input-checked::before");
      //Remove selection of all other fillings
      $(".i-filling").not(this).removeClass("option-input-checked option-input-checked::before");
      //Select corresponding radio button and remove others
      $("#cake_filling_" + fillingIdNum).prop('checked', true);
      $(".filling-radio").not(this).prop('checked', false);
      //Select corresponding dough
      $("#cake_dough_" + doughIdNum).prop("checked", true);
      $("#div_" + doughIdNum).addClass("selected-card");
      //Remove color and selection from all the other doughs
      $('*[id*=div_]').not("#div_" + doughIdNum).removeClass("selected-card");
      //When choosing dough, remove color and selection from all fillings belonging to other doughs
      $("#div_" + doughIdNum + " i").removeClass("radio-circle");
      $("#div_" + doughIdNum + " i").addClass("radio-circle-color");
      //Add price to cart
      $("#cart").empty();
      $("#cart").append("<%= @doughs.first.price%>€/Kg");
      $('#path1-r').css({ fill: "#72C472" });
    });
    $("#submit-btn").click(function(e){
      if (($("*[id*=cake_dough_]").is(":checked") == true) && ($("*[id*=cake_filling_]").is(":checked") == true)) {
        $("#step1").click();
      } else {
        $(this).notify("Seleccione uma massa e um recheio");
      }
    })
  })
</script>
<% end %>
