<footer class="footer">
  <div class="container">
    <div class="row row-height">
      <div class="col-sm-3 col-xs-6 flexbox-col">
        <%= link_to 'PASTELARIA BONJOUR', root_path %>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h5>Início</h5>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#">Sign up</a></li>
          <li> <%= link_to "Log in", new_user_session_path %></li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h5>Sobre nós</h5>
        <ul>
          <li> <%= link_to 'A Bonjour', about_path %>
          </li>
          <li>
            <%= link_to 'Contactos', contacts_path %>
          </li>
          <li> <%= link_to 'Galeria', gallery_path %>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h5>Encomendas</h5>
        <ul>
          <li> <%= link_to 'Encomendar', new_cake_path %>
          </li>
          <li>  <%= link_to 'Bolo personalizado', design_path %>
          </li>
          <li> <%= link_to 'Carrinho', current_order_path %>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6 flexbox-col">
        <div class="social-networks">
          <a href="https://www.facebook.com/Pastelaria-Bonjour-Cascais-1424510534502618/"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://www.instagram.com/pastelaria.bonjour/"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus fa-2x"></i></a>
        </div>
        <div class="flexbox-between">
          <%= simple_form_for @subscriber, html: { class: "form-inline"} do |f| %>
          <%= f.input :email, placeholder: "Email", label_html: {class: 'hidden'}, input_html: { class: ""}%>
          <%= f.submit "Subscrever", class: "cta-btn cta-btn-white" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    <p> <i class="fa fa-copyright" aria-hidden="true"></i> <span>2017 Pastelaria Bonjour. Todos os direitos reservados</span> | <%= link_to "http://www.ahoy-code.com/" do %>
      Created by AhoyCode
      <% end %></p>
    </div>
  </footer>









