<div class="navbar-ac transition-smooth">
  <!-- Logo -->
  <div  class = "row row-xs-center">
    <div class="row row-height col-md-12 header-logo" id = "row-header-logo">
      <div class="col-xs-4 header-left">
        <div class = "navbar-ac-left hidden-xs hidden-sm">
          <% if user_signed_in? %>

          <!-- Profile picture and dropdown -->
          <div class="navbar-ac-item">
            <div class="dropdown header-left">
              <% avatar_url = "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-ac-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu navbar-ac-dropdown-menu">
                <li>
                  <%= link_to orders_path do %>
                  <%= image_tag "muffin.png" %> <%= t(".profile", default: "My orders") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <% else %>
          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-ac-item navbar-ac-link" %>
          <% end %>
        </div>
        <!-- Dropdown list appearing on mobile only -->
        <div class="navbar-ac-item hidden-md hidden-lg" style = "padding: 40px 0px;">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle header-left" data-toggle="dropdown"></i>
            <ul class="dropdown-menu navbar-ac-dropdown-menu">
              <li>
              <%= link_to about_path do %>
              Sobre
            <% end %>
            </li>
              <li>
              <%= link_to new_cake_path do %>
              Encomendar
            <% end %>
            </li>
              <li>
              <%= link_to design_path do %>
              Bolo personalizado
            <% end %>
            </li>
            <li>
            <%= link_to gallery_path do %>
              Galeria
            <% end %>
            </li>
            <li>
            <%= link_to contacts_path do %>
              Contactos
            <% end %>
            </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4 header-center">
        <%= link_to root_path, class: "navbar-ac-brand" do %>
        <%= image_tag "circle.png" %>
        <% end %>
      </div>
      <div class="col-xs-4 header-right">
      <!-- order_path(current_order) -->
        <%= link_to new_order_path do %>
          <%= image_tag "cart-simple.svg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 header-nav hidden-xs hidden-sm header-nav-border flexbox" id = "row-header-nav">
    <div class = "hidden" id = "hidden-logo">
    <%= image_tag "circle.png" %>
    </div>
      <div class="menu">
        <ul>
          <li>
            <%= link_to home2_path do %>
              Início
            <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
              Sobre
            <% end %>
          </li>
          <li>
            <%= link_to new_cake_path do %>
              Encomendar
            <% end %>
          </li>
          <li>
            <%= link_to design_path do %>
              Bolo personalizado
            <% end %>
          </li>
          <li>
            <%= link_to gallery_path do %>
              Galeria
            <% end %>
          </li>
          <li>
            <%= link_to contacts_path do %>
              Contactos
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

