<div class="navbar-ac">
  <!-- Logo -->
        <%= link_to root_path, class: "navbar-ac-brand" do %>
        <%= image_tag "circle.png" %>
        <% end %>

  <!-- Right Navigation -->
  <div class="navbar-ac-right hidden-xs hidden-sm">

  <div class="menu">
        <ul>
          <li>
            <%= link_to new_cake_path do %>
            Order
            <% end %>
          </li>
          <li>
            <%= link_to gallery_path do %>
            Galeria
            <% end %>
          </li>
        </ul>
      </div>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Contact us"), "#", class: "navbar-ac-item navbar-ac-button navbar-ac-button-black btn" %>
     <%= link_to new_order_path do %>
          <%= image_tag "cart-simple.svg" %>
        <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-ac-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ac-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

