<nav class="navbar-ac navbar-ac-fixed">
    <!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to root_path, class: "navbar-ac-brand" do %>
      <%= image_tag "circle.png" %>
      <% end %>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-ac-right hidden-xs hidden-sm">

      <ul class="nav navbar-nav">
        <li>
          <%= link_to about_path, class: "navbar-ac-link" do %>
          Sobre
          <% end %>
        </li>
        <li>
          <%= link_to design_path, class: "navbar-ac-link" do %>
          Bolo personalizado
          <% end %>
        </li>
        <li>
          <%= link_to gallery_path, class: "navbar-ac-link" do %>
          Galeria
          <% end %>
        </li>
        <li>
          <%= link_to contacts_path, class: "navbar-ac-link" do %>
          Contactos
          <% end %>
        </li>
        <li>
        <%= link_to new_order_path, class: "navbar-ac-link" do %>
          Carrinho
          <% end %>
        </li>
        <li>
          <%= link_to new_cake_path, class: "navbar-ac-button" do %>
          Encomendar
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
