<%= simple_form_for @delivery, url: order_deliveries_path(@order) do |f| %>
<div class="form-inner-wrapper container">
  <div class="form-scroll row">
    <div class="col-md-6">
      <%= f.input :contact_first_name, input_html: { placeholder: "Primeiro Nome" }, label: "Primeiro Nome" %>
      <%= f.input :contact_last_name, input_html: { placeholder: "Ultimo Nome" }, label: "Ultimo Nome" %>
      <%= f.input :contact_telephone, as: :integer, input_html: { placeholder: "9126....."}, label: "Contacto" %>
      <%= f.input :contact_email, as: :email, input_html: { placeholder: "...@google.com"}, label: "Email" %>
       <%= f.input :nif, input_html: { placeholder: ""}, label: "NIF"%>
    </div>
    <div class="col-md-6">
      <%= f.input :delivery_date, input_html: { placeholder: ""}, label: "Dia da entrega", default: Date.current + 2.days %>
      <%= f.input :delivery_slot, collection: Delivery::SLOTS, label: "Hora da entrega", default: false  %>
      <%= f.input :store_pickup, input_html: { placeholder: ""}, label: "Levantamento na loja" %>
      <%= f.input :address, as: :text, input_html: { placeholder: ""}, label: "Morada de entrega" %>
      <%= f.input :zipcode, input_html: { placeholder: ""}, label: "Código Postal"%>
      <%= f.input :payment, as: :radio_buttons, collection: ["Cartão Multibanco", "Numerário"], input_html: { placeholder: ""}, label: "Método de pagamento"%>

      <%= f.submit "Confirmar Pedido", id: "confirm" %>
    </div>
  </div>
</div>

<% end %>
