<section class = "padded">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h3>Obrigado pela sua encomenda!</h3>
        <h4>Sumário</h4>
        <hr>
        <div class="row">
          <div class="col-xs-3">
            <p class = "confirmation-title-gray">Nome</p>
            <p> <%= @delivery.contact_first_name %> <%= @delivery.contact_last_name %></p>
            <p class = "confirmation-title-gray" >Contacto</p>
            <p> <%= @delivery.contact_telephone %> </p>
            <p class = "confirmation-title-gray">Local de Entrega</p>
            <p><%= @address %> </p>
          </div>
          <div class="col-xs-3">
            <p class = "confirmation-title-gray" >Data de Entrega</p>
            <p> <%= @delivery.delivery_date %> </p>
            <p class = "confirmation-title-gray">Hora de Entrega</p>
            <p> <%= @delivery_time %> </p>
          </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3">
            <p class = "confirmation-title-gray">Total</p>
            <p id = "big-total"> <%= @total %>€</p>
            <p>(IVA incluido)</p>
          </div>
        </div>
        <hr>
        <div class="row text-left padded-2-bottom">
          <div class="col-xs-3"></div>
          <div class="col-xs-3 confirmation-title-bold">
            Descrição
          </div>
          <div class="col-xs-3 confirmation-title-bold">
            Quantidade
          </div>
          <div class="col-xs-3 confirmation-title-bold">
            Total
          </div>
        </div>
          <% @order.cakes.select{|cake| !cake.filling.blank? && !cake.dough.blank?}.each do |cake| %>
            <div class="row confirmation-card padded-1-bottom row-height" id = "cake_<%=cake.id%>">
              <div class="col-xs-3">
                <%= cl_image_tag cake.dough.photo %>
              </div>
              <div class="col-xs-3 flex-center">
                <p>Bolo de <%= cake.dough.name %> com <%= cake.filling.name %></p>
              </div>
              <div class="col-xs-3 flex-center"><p><%= cake.size %>Kg</p></div>
              <div class="col-xs-3 flex-center"><p ><%= cake.price %>€</p></div>
            </div>
          <% end %>
          <% unless @order.others.blank? %>
          <% @order.order_others.each do |order_other| %>
            <div class="row confirmation-card row-height" id = "other_<%=order_other.other.id%>">
              <div class="col-xs-3">
                <%= cl_image_tag order_other.other.photo %>
              </div>
              <div class="col-xs-3 flex-center">
                <p ><%= order_other.other.name %></p>
              </div>
              <div class="col-xs-3 flex-center">
                <%= order_other.quantity %>un
              </div>
              <div class="col-xs-3 flex-center">
                <% @subtotal = order_other.quantity * order_other.other.price%>
                <%= @subtotal %>€
              </div>
            </div>
          <% end %>
          <% end %>
          <div class="row">
            <hr>
          </div>
            <div class="row row-height">
              <div class="col-xs-3"></div>
              <div class="col-xs-3"></div>
              <div class="col-xs-3"></div>
              <div class="col-xs-3">
              <%= @total %>€ (IVA incluido)
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
