<div class="banner-gallery">
<div class="container">
<h1>Veja os nossos bolos</h1>
  <div class="row" id='gallery'>
    <div class="col-md-4 gallery">
      <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
       <%= image_tag "cake_1.jpg", class: "gallery-img" %>
     </a>
   </div>
   <div class="col-md-4 gallery">
    <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
     <%= image_tag "cake_1.jpg", class: "gallery-img" %>
   </a>
 </div>
 <div class="col-md-4 gallery">
  <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://unsplash.it/1200/900" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
</div>
</div>
</div>




