<div class="banner-gallery">
<div class="container">
<h3>Veja os nossos bolos</h3>
  <div class="row" id='gallery'>
    <div class="col-md-4 gallery">
      <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
       <%= image_tag "cake_1.jpg", class: "gallery-img" %>
     </a>
   </div>
   <div class="col-md-4 gallery">
    <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
     <%= image_tag "cake_1.jpg", class: "gallery-img" %>
   </a>
 </div>
 <div class="col-md-4 gallery">
  <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
 <div class="col-md-4 gallery">
  <a href="http://res.cloudinary.com/cloudnary-filipe/image/upload/v1508207395/cake_1_nqbfvq.jpg" class="swipebox" title="My Caption">
   <%= image_tag "cake_1.jpg", class: "gallery-img" %>
 </a>
</div>
</div>
</div>
</div>




