<%= simple_form_for :order_others, url: order_order_others_path(@order), method: :post do |f| %>
<div class="form-inner-wrapper container">
  <div class="form-scroll row row-height">
    <% @others.each do |other| %>
    <div class="col-md-4 card">
      <div class = "img-decoration-wrapper" >
        <div class="row">
          <%= cl_image_tag other.photo %>
          <div class="row row-height">
            <div class="col-md-9" style = "display: flex; align-items: center;">
              <%= other.name %>
            </div>
            <div class="col-md-3" id = "other_<%= other.id %>">
              <div class="radio option-input i-other" id = "i_<%= other.id %>"></div>
            </div>
            <div class="radio-hide">
             <%= f.input :other_id, as: :check_boxes, collection: [other.id], label: false, include_hidden: true %>
             <%= f.input :quantity, as: :integer, label: false, include_hidden: false, input_html: {id: "quantity_other_#{other.id}", name: 'order_others[quantity][]', min: '0'}%>
           </div>
         </div>
         <hr>
         <div class="row">
           <div class="col-md-12">
             <p><span id= "other_price_<%= other.id %>" class = "price"><%= other.price %></span> €/un</p>
           </div>
         </div>
         <div class="row">
          <div class="col-md-12 quantity-btn" id = "math_<%= other.id %>">
            <div>
              <span id = "other_quantity_<%= other.id %>">0</span>
              <span>un</span></div>
              <div>
               <span class = "plus" id = "plus_<%= other.id %>">
                 <%= image_tag("circle-bold-add.svg") %>
               </span>
               <span class = "minus" id = "minus_<%= other.id %>">
                 <%= image_tag("circle-bold-delete.svg") %>
               </span>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

   <% end %>
   <%= f.submit "Proximo passo", class: "btn btn-lg btn-default", id: "step3"%>
 </div>
</div>
<% end %>



