<div class="form">

  <%= simple_form_for @order do |f| %>
    <%= f.input :address, input_html: {placeholder: "Where do you want the cake?"} %>
    <%= f.input :delivery_datetime, input_html: {placeholder: "When do you want the cake?"} %>
    <%= f.input :contact_name, input_html: {placeholder: "Who are we talking to?"} %>
    <%= f.input :contact_telephone, input_html: {placeholder: "Call me maybe?"} %>
    <%= f.input :contact_email, input_html: {placeholder: "Send me an e-letter?"} %>
    <%= f.submit "Go", class: "btn btn-lg btn-primary"%>
  <% end %>

</div>


