<div class="banner-orders">
<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li id = "wiz-1"><a href="javascript:void(0);">Massa e Recheio</a></li>
      <li id = "wiz-2"><a href="javascript:void(0);">Decoração e tamanho</a></li>
      <li id = "wiz-3"><a href="javascript:void(0);">Rever encomenda</a></li>
      <li id = "wiz-4"><a href="javascript:void(0);">Pagar</a></li>
    </ul>
  </div>
  </div>
  <div class="container">
    <div class="form-wrapper">
      <div class="row">
        <h1>Pagar encomenda <%= @order.id %></h1>
        <% unless @order.cakes.blank? %>
        <% @order.cakes.select{|cake| !cake.filling.blank? && !cake.dough.blank?}.each do |cake| %>
        <p id = "cake_<%=cake.id%>">Bolo de <%= cake.dough.name %> com <%= cake.filling.name %> tamanho <%= cake.size %></p>
        <p id = "delete_btn_<%=cake.id%>"><%= link_to "Apagar bolo #{cake.id}", cake_path(cake), method: :delete, remote: :true %></p>
        <% end %>
        <%= link_to 'Encomendar outro bolo', new_cake_path %>
        <%= link_to 'Pagar', new_order_payment_path(@order) %>
        <% else %>
        <%= link_to 'Encomendar outro bolo', new_cake_path %>
        <% end %>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  </div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#wiz-1").addClass("completed");
    $("#wiz-2").addClass("completed");
    $("#wiz-3").addClass("completed");
    $("#wiz-4").addClass("active");
  })
</script>
<% end %>


